<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Uploading an Image File</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="text-center container border border-info p-5">
        <h1 class="text-center text-primary">Uploading An Image Using HTML5 FileReader()</h1>
        <form action="JavaScript:void(0)">

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file To Upload</label>
            </div>
            <br>

            <input type="text" id="readOnly" value="uwu">


            <button type="submit" class="mt-2">Upload</button>
            <button type="button" onclick="copyToClipboard()">Copy To Clipboard</button>
        </form>

        <div class="mt-5">
            <img class="img-thumbnail" alt="Thumbnail image">

        </div>

    </div>




</body>
<script src='main.js'></script>

</html>